<div class="col-md-4 col-md-push-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Editar Usuário</h1>
		</div>
		<div class="panel-body">
			<%= render 'form', user: @user %>
		</div>
		<div class="panel-footer">
			<%= link_to 'Mostrar', @user %> |
			<%= link_to 'Voltar', users_path %> |
			<%= link_to 'Home', root_path %>
		</div>
	</div>
</div>
