<div class="col-md-4 col-md-push-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Cadastro de Usuários</h3>
			<small>Escolha uma opção</small>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					<%= link_to "Cadastrar", new_user_path %>
				</li>
				<li class="list-group-item">
					<%= link_to "Listar", users_path %>
				</li>
			</ul>
		</div>
	</div>
</div>



